body {
  margin: 0;
  background: rgb(100, 163, 221);
}

#glCanvasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#glCanvas {
  background: white;
}

#canvas {
  display: none;
}

.control-box-container {
  bottom: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}

#controlBox {
  margin: 10px auto 0;
  width: -moz-fit-content;    /* Firefox/Gecko */
  width: -webkit-fit-content; /* Chrome */
  background: white;
  padding: 15px;
  border-radius: 3px;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hide {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s 0.3s, opacity 0.3s linear !important;
}

input[type="checkbox"], input[type="radio"]{
  cursor: pointer;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background: rgb(198, 198, 199);
  border: 3px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 24px;
  height: 24px;
  transition: all .3s linear;
  }

input[type="checkbox"]:checked, input[type="radio"]:checked{
   background-color: #2ECC71;
}
input[type="checkbox"]:focus, input[type="radio"]:focus{
  border: 3px solid rgb(136, 135, 135);
}

label {
  vertical-align: middle;
  font-size: 30px;
}

.source-heading {
  font-size: 30px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgb(100, 163, 221);
  border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 26px;
  border-radius: 3px;
  background: #2ECC71;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(100, 163, 221);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background:rgb(100, 163, 221);
  border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 26px;
  border-radius: 3px;
  background: #2ECC71;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 26px 0;
  color: transparent;
}

input[type=range]::-ms-thumb {
  height: 36px;
  width: 26px;
  border-radius: 3px;
  background: #2ECC71;
  cursor: pointer;
}
